{% extends "base.html" %}

{% block content %}

<h1 align="center">Access Management System</h1>
<div class="kpi-container">
      <div class="kpi-value">
          {{user_count}}
      </div>
      <div class="kpi-details">
        <div class="kpi-title">
          Number of Users
        </div>
        <div class="kpi-description">
          There are users defined in this AMS.
        </div>
      </div>

      <div class="kpi-value">
          {{team_count}}
      </div>
      <div class="kpi-details">
        <div class="kpi-title">
          Number of Teams
        </div>
        <div class="kpi-description">
          There are teams defined in this AMS.
        </div>
      </div>
</div>
{% endblock %}