{% extends "base.html" %}

{% block title %}
AMS-TeamManagement
{% endblock %}

{% block content %}
<div style="text-align: center;">
  <h1 style="display: inline;">Teams</h1>
  <button style="display: inline-block;float: right;right: 5px;top: 5px;position: relative;" type="button" class="btn btn-primary" onClick="window.location.href='{{ url_for( 'views.add_team') }}';">
    <span class="bi bi-plus"></span>
    NEW TEAM
  </button>
</div>
{% if team_list %}
  <table class="table table-bordered table-hover">
    <thead class="alert alert-secondary">
      <tr>
        <th>Team Name</th>
        <th>Email Address</th>
        <th>Tribe Name</th>
        <th>Number of Users</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for team in team_list %}
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.email }}</td>
          <td>{{ team.tribename }}</td>
          <td>{{ team.users|length }}</td>
          <td>{{ team.create_date }}</td>
          <td>
            <a href="{{ url_for('views.view_team', team_id=team.id) }}"><span class="bi bi-eye"></span></a>
            &nbsp
            <a href="{{ url_for('views.update_team', team_id=team.id) }}"><span class="bi bi-pencil"></span></a>
            &nbsp
            <a href="{{ url_for('views.team_assign_users', team_id=team.id) }}"><span class="bi bi-person"></span></a>
            &nbsp
            <a href="{{ url_for('views.delete_team', team_id=team.id) }}"><span class="bi bi-trash"></span></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>No Teams found.</h4>
{% endif %}
{% endblock %}