{% extends "base.html" %}

{% block title %}
AMS-ViewTeam
{% endblock %}

{% block content %}
<div class="popupscreen">
  <div class="popupscreenheader">
    <h3 style="display: inline;">View Team : {{ team.name }}</h3>
    <button style="display: inline-block;float: right;padding: 4px;position: relative;" type="button" class="btn btn-primary" onClick="window.location.href='{{ url_for( 'views.teampage') }}';">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    {% if team.users %}
      <table class="table table-bordered table-hover">
        <thead class="alert alert-secondary">
          <tr>
            <th>Corporate Key</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Created On</th>
          </tr>
        </thead>
        <tbody>
          {% for user in team.users %}
            <tr>
              <td>{{ user.corpkey }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.create_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h4>No Users found.</h4>
    {% endif %}
  </div>
</div>
{% endblock %}